{% extends "base.html" %}

{% block "title" %}Slaptažodžio keitimas{% endblock %}

{% block "content" %}

<div class="container register">
    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-person-workspace"></i></div>
            <h3>Slaptažodis pakeistas!</h3>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <p class="text-center"><a href="{% url 'login' %}">prisijungti iš naujo</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}