{% extends "base.html" %}

{% block "title" %}Slaptažodžio keitimas{% endblock %}

{% block "content" %}

<div class="container register">
    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-person-workspace"></i></div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if form.email.errors %}
                    {{ form.email.errors }}
                    {% endif %}
                    <p>Pamiršote slaptažodį? Įrašykite el. pašto adresą ir mes atsiųsime slaptažodžio keitimo instrukcijas.</p>
                    <p>El. pašto adresas: {{ form.email }}</p>
                    <input type="submit" class="btn btn-primary" value="Siųsti">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}