{% extends 'base.html' %}

{% block "title" %}Susisiekite{% endblock %}

{% block "content" %}
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Susisiekite su mumis</h1>
                <p class="lead fw-normal text-muted mb-0">Dirbkime kartu!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <!-- Sėkmės arba klaidos pranešimas -->
                    {% if message_status == 'success' %}
                        <div class="alert alert-success" role="alert">
                            Žinutė sėkmingai išsiųsta!
                        </div>
                    {% elif message_status == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            Įvyko klaida siunčiant žinutę!
                        </div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input class="form-control" name="name" id="name" type="text" placeholder="Jūsų vardas" required />
                            <label for="name">Vardas ir pavardė</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" name="email" id="email" type="email" placeholder="Jūsų el. paštas" required />
                            <label for="email">El. pašto adresas</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" name="phone" id="phone" type="text" placeholder="Jūsų telefono numeris" />
                            <label for="phone">Telefono numeris</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="message" id="message" placeholder="Jūsų žinutė" style="height: 10rem;" required></textarea>
                            <label for="message">Žinutė</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit">Siųsti</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
