{% extends 'base.html' %}
{% block "title" %}Krepšelio trynimas{% endblock %}
{% block "content" %}
<div class=container-sm mt-4" style="max-width: 600px;">
    <form method="POST">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Ištrinti krepšelį</legend>
            <h4>Ar tikrai nurite ištrinti krepšelį {{ cart.date | date:"Y-m-d, H:i" }} - {{ cart.name }} ?</h4>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Taip, ištrinti</button>
            <a class="btn btn-outline-secondary" href="{% url 'my_shopping_cart_detail' cart.pk %}">Atšaukti</a>
        </div>
    </form>
</div>
{% endblock %}