{% extends 'base.html' %}
{% block "title" %}Mano produktai{% endblock %}

{% block "content" %}

<div class="container-sm mt-4" style="max-width: 600px;">
    <h5>Krepšelis - {{ cart.name }}</h5>
    <ul>
        <li><strong>Data: </strong>{{ cart.date | date:"Y-m-d, H:i" }}</li>
    </ul>
    <div>
    <a class="btn btn-secondary text-white btn-sm mt-1 mb-1" href="{% url 'cart_update' cart.pk %}">Redaguoti</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'cart_delete' cart.pk %}">Ištrinti</a>
    </div>
    <hr>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Produktas</th>
            <th>Parduotuvė</th>
            <th>Kaina</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for product in cart.my_products.all %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.store }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <div>
    <a class="btn btn-secondary btn-sm mt-1 text-white mb-1" href="{% url 'search_price' cart.pk %}">Pridėti produktą</a>
    </div>

</div>


{% endblock %}