{% extends 'base.html' %}
{% block "title" %}Mano profilis{% endblock %}

{% block "content" %}
<div class="container my-5">
    <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}" style="max-width: 15%">
    <h3>Mano profilis:</h3>
    <ul>
       <li><strong>Vartotojas: </strong>{{ user.get_username }}</li>
       <li><strong>Vardas: </strong>{{ user.first_name }}</li>
       <li><strong>Pavardė: </strong>{{ user.last_name }}</li>
       <li><strong>El. paštas: </strong>{{ user.email }}</li>
       <li><strong>Prisijungęs nuo: </strong>{{ user.date_joined | date:"Y-m-d, H:i" }}</li>
    </ul>
    <form method="post" enctype="multipart/form-data">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        <fieldset>
            <legend class="border-bottom mb-4">Profilio info</legend>
            {{ user_update_form | crispy }}
            {{ profile_update_form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Atnaujinti</button>
        </div>
    </form>
</div>

{% endblock %}