{% extends 'base.html' %}

{% block "title" %} Search price1 {% endblock %}

{% block "content" %}
{% load static %}

{% load crispy_forms_tags %}

<div class="container-sm mt-4" style="max-width: 600px;">
    <h1 class="text-center">Paieška</h1>
    <form method="POST">
    {% csrf_token %}
    {% if step == 1 %}
    <!-- Kategorijos pasirinkimas -->
    <div class="form-group">
        <label for="category">Pasirinkite kategoriją:</label>
        <select name="category" id="category" class="form-control">
            <option value="" disabled selected>-- Pasirinkite --</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" name="select_category" class="btn btn-primary mt-3">Patvirtinti</button>

    {% elif step == 2 %}
    <!-- Produktų pasirinkimas -->
    <div class="form-group">
        <label for="product">Pasirinkite produktą:</label>
        <select name="product" id="product" class="form-control">
            <option value="" disabled selected>-- Pasirinkite --</option>
            {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" name="search_product" class="btn btn-primary mt-3">Ieškoti</button>
    {% endif %}
</form>

<!-- Rezultato rodymas -->
{% if results %}
    <h3>Paieškos rezultatai:</h3>
    <ul>
        {% for file_path, result in results.items %}
            <li>
                <strong>{{ file_path }}:</strong> {{ result }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

</div>

{% endblock %}